section#form_login {
  width: 100vw;
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
section#form_login > form,
button {
  box-shadow: 0px 5px 15px #00000085;
}
section#form_login > div.box {
  padding: 15px;
  width: 500px;
  height: auto;
  background: #fff;
  border-radius: 25px;
}
#particles-js {
  width: 100vw !important;
  height: 100vh !important;
  background-color: var(--color-theme2);
}
div.toast {
  box-shadow: 0px 5px 15px #00000085;
}
