@keyframes fade-in{
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transfor: scale(1);
    }
}
@keyframes fade-out{
    from {
        opacity: 1;
        transfor: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

.anim-fade-in{
    animation-name: fade-in;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
    
}
.anim-fade-out{
    animation-name: fade-out;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
}