label[for="inputFile"] > svg {
  width: 100px;
  height: auto;
}
label[for="inputFile"] {
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  transition: all 600ms ease;
}
label[for="inputFile"]:hover {
  transform: translate3d(0, -10%, 0);
  transition: all 600ms ease;
}
label{
  color: #ffffff;
}
hr {
  background-color: #848684 !important;
}
form#formProfile > div > div > h5 {
  color: #848684 !important;
}
form#formProfile > h5 {
  color: #848684 !important;
}
img.img-radius {
  height: 100px;
  width: 100px;
}
form#formProfile > div.div-center > button{
  box-shadow: 0px 5px 15px #00000085;
  border-color: var(--color-theme1-2);
}
form#formProfile > div.div-center > button:hover{
  background-color: var(--color-theme1-2) !important;
}