.card {
  box-shadow: 0px 5px 15px #00000085;
}
div.carousel-caption {
  position: static !important;
}
div.carousel-caption > div.row > div.card {
  margin: 10px;
  margin-top: 0px;
  padding: 10px;
  border-radius: 10px;
}
div.carousel-caption > div.row > div.spotlight {
  margin-top: -15px;
  border: 2px solid var(--color-theme1);
}
@media (max-width: 992px) {
  div.carousel-caption > div.row > div.spotlight {
    margin-top: 0px !important;
  }
}
div.carousel-caption > div.row > div.card > span.badge {
  font-size: 1rem;
}
