header#main-header {
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: var(--color-theme1);
  box-shadow: 0px 5px 15px #00000085;
}
header#main-header > section > div > div.input-search > input:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
header#main-header > section > div > div.input-search > input {
  width: 100%;
}
header#main-header > section > div > div.input-search > input,
div.input-search > div.input-group-prepend > span {
  background: #0e1e2530;
  border: none;
  border-radius: 20px;
  padding-left: 56px;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.8);
}
header#main-header > section > div > div.input-search > input,
div.input-search > div.input-group-prepend > span > a:hover {
  color: #ffffff;
  transition: all 400ms;
}
header#main-header > section > div.nav {
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
  background-color: var(--color-theme1-2);
}
header#main-header > section > div.nav > span {
  width: 100%;
  font-size: 1.2rem;
}
div.input-search > div.input-group-prepend > span {
  background-color: var(--color-theme1-2);
  padding-left: 12px !important;
  margin-right: -52px;
  z-index: 2;
}
input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
a {
  transition: all 400ms;
}
div.user-info-dropdown > div {
  margin-top: 35px;
  clip-path: polygon(68% 10%, 85% 0, 100% 10%, 100% 100%, 0 100%, 0 10%);
  border-color: var(--color-theme1);
  width: 100%;
}
div.user-info-dropdown > div > div.dropdown-header {
  margin-top: -8px;
  height: 60px;
  background-color: var(--color-theme1);
}
div.user-info-dropdown > div > a.dropdown-item {
  font-size: 1.2rem;
}
div.user-info-dropdown > div > a.dropdown-item:hover {
  background-color: var(--color-theme2);
  color: #ffffff;
}
span.user-info-card > img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}