:root{
    --color-theme1: rgb(108, 82, 195); 
    --color-theme1-2: #5a48a5; 
    --color-theme2: #0e1e25; 
    --color-theme3: #5ac146; 
}
body{
    background-color: #ffffff;
}
div.div-center {
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none !important;
}
#particles-js{
    width: 100vw !important;
    height: 100vh !important;
    background-color: var(--color-theme2);
}