* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --color-theme1: rgb(108, 82, 195);
  --color-theme1-2: #5a48a5;
  --color-theme2: #0e1e25;
  --color-theme3: #5ac146;
}
html{
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0 !important;
}
body::-webkit-scrollbar {
  width: 0 !important;
}
body {
  background-color: #edf0f2;
  background-image: url(./assets/images/grid-light.png);
  background-attachment: fixed;
  overflow-x: hidden;
}
.bg-theme1 {
  background-color: var(--color-theme1);
}
.bg-theme2 {
  background-color: var(--color-theme2);
}
.bg-theme3 {
  background-color: var(--color-theme3);
}
.text-theme1 {
  color: var(--color-theme1);
}
.text-theme2 {
  color: var(--color-theme2);
}
.text-theme3 {
  color: var(--color-theme3);
}
div.div-center {
  display: flex;
  justify-content: center;
}
.z-index99{
  z-index: 99;
}
a {
  text-decoration: none !important;
}
article#main-article {
  transition: padding 300ms ease;
  max-height: 99vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}
article#main-article::-webkit-scrollbar {
  width: 0 !important;
}
article#main-article {
  -ms-overflow-style: none;
}
article#main-article {
  overflow: -moz-scrollbars-none;
}