:root {
  --color-theme1: rgb(108, 82, 195);
  --color-theme1-2: #5a48a5;
  --color-theme2: #0e1e25;
  --color-theme3: #5ac146;
}
html{
  overflow-y: hidden;
}
body {
  background-color: #edf0f2;
  overflow: hidden;
}
.bg-theme2 {
  background-color: var(--color-theme2);
}
div.div-center {
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none !important;
}